/*------Pie de Pagina----------*/
.pie-pagina{
    width: 100%;
    background-color: #ecb621;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width:200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #070707;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #0c0c0c;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #000000;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social .fa-facebook:hover{
    color: #0b91c5;
}
.pie-pagina .grupo-1 .red-social .fa-instagram:hover{
    color: #ff0000;
}
.pie-pagina .grupo-1 .red-social .fa-twitter:hover{
    color: #0b91c5;
}
.pie-pagina .grupo-1 .red-social .fa-youtube:hover{
    color: #ff0000;
}


.pie-pagina .grupo-2{
    background-color:#000000;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
        font-size: 15px;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 150px;
        height: 150px;
    }
}