.container{
    padding:10PX ;
    justify-content: center;
    box-sizing: 0;
    background-color: #d5e0d1;
    height: 1330px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}
.titulo div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px ;
}
.boxcontainer{
    width:620px;
    background-color: white;
    border-radius: 20px;
}
    
.titulo div select{
   height: 30px;
   font-size: medium;
   border-radius: 10px;
 background: transparent;
}


.equipos{
    display: grid;
    grid-template-columns:auto auto;
 
}
.columna-a{
    display: grid;
    gap: 10px;
}
.columna-b{
    display: grid;
    gap: 10px;
}

.grupo{
    display: grid;
    grid-template-columns:auto auto;
    width: 250px;
}

.grupo div h2{
    font-size: 17px;
}

.grupo .links {
   
 display: flex;
 justify-content: space-between;
}

.noticias{
  padding: 10px 10px 0px 10px;
  background-color:rgb(252, 250, 250);
  border-radius: 20px;
  width: 300px;
  gap: 10px;
}
.noticias img{
    width: 100%;
   
    border-radius: 10px;

}
.listanoti{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    border-bottom: 1px solid rgb(182, 178, 178);
}
.listanoti div img{
    width: 100%;
    height: 50px;
}
.listanoti .texto p  a{
    text-decoration: none;
    color: black;
}
.listanoti .texto p  a :hover{
 color: rgb(36, 36, 201);
}
.listanoti .texto{
   
    padding: 10px;
}
@media (max-width:1000px){
    .noticias{
        display: grid;
        width:100%;
        grid-template-columns: auto auto auto ;
        align-items: center;
    }
    .boxcontainer{
        width:100%;
    }
    .noticias img{
        border-radius: 10px;
    }
    .noticias h3 {
        font-size: 30px;
        text-align: center;
    }
    .container{
        height: 1700px;
    }
    .listanoti{
        border-bottom: 0px ;
    }
    .grupo{
        text-align: center;
    }
}
@media (max-width:650px){
    .noticias{
        display: grid;
        width:100%;
        grid-template-columns: auto auto ;
        align-items: center;
        
    }
    .noticias h3 {
        font-size: 30px;
        text-align: center;
    }
    .columna-a .grupo div img{
        width: 40px;
        height: 40px;
    }
    .columna-b .grupo div img{
        width: 40px;
        height: 40px;
    }
    .grupo{
        align-items: center;
        display: grid;
        grid-template-columns:45px auto;
        width: 200px;
    }
}